.blog-header {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  
  .blog-header .box-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
    background: #000;
  }

  .blog-header .box-text {
    z-index: 1;
    display: flex;
    width: 70vw
  }

  .blog-header .box-text h5 {
    color: white;
    font-size: 6.25rem;
    text-align: center;
    font-weight: 400;
    font-family: Hurricane;
    padding: 0;
    margin: 0;
    line-height: 4.556rem;
    z-index: 10;
  }
