.single-blog-post {
    min-height: 100vh;
}

.single-blog-content {
    margin: 2rem 4rem;
}

.blog-padding {
    margin: 1rem 4rem 0 4rem;
}

@media (max-width: 680px) {
    .single-blog-content {
        margin: 1rem;
    }
    
    .blog-padding {
        margin: 1rem;
    }
}